<h1 class="mb-4"><%= params[:value].gsub('_', ' ').titleize %> to <%= @scraper.name %></h1>

<%= render @scraper_attribute %>

<div class="d-flex mb-3">
  <%= link_to "Edit this scraper attribute", edit_scraper_attribute_path(@scraper, params[:value], @scraper_attribute), class: "btn btn-success mt-2 me-2 float-start" %>
  <%= button_to "Destroy this scraper attribute", scraper_attribute_path(@scraper, params[:value], @scraper_attribute), method: :delete, class: "btn btn-danger mt-2 float-start" %>
</div>

<div>
  <%= link_to "Back to scraper", scraper_path(@scraper) %>
</div>
